#greeting-container{
  background-color: white;
  height: 100vh;
  display: flex;
}

.greeting-column{
  flex: 50%;
}

#greeting{
  margin: 0;
  padding-left: 50px;
  padding-top: 40px;
  font-size: 80px;
}

#greeting-menu-container{
  background: #218DD8;
  display: flex;
}

#greeting-menu-inner-container{
  margin: auto;
  align-self: center;

}

#greeting-menu{
  text-align: center;
  list-style-type: none;
}

.greeting-menu-option{
  padding-top: 50px;
  color: white;
  font-size: 30px;
}
