#greeting-container{
  background-color: white;
  height: 100vh;
  display: flex;
}

#greeting-image{
  position:absolute;
    width:100%;
    height:100%;
    display:block;
    z-index:1;
}

.greeting-column{
  z-index: 2;
}

#greeting-section{
  display: flex;
  flex: 80%;
}

#greeting{
  padding-left: 50px;
  padding-bottom: 20px;
  font-size: 80px;
  align-self: center;
  color: white;
}

#greeting-menu-container{
  background: #1687DF;
  display: flex;
  flex: 5%;
  opacity: 0.85;
}

#greeting-menu-inner-container{
  margin: auto;
  align-self: center;

}

#greeting-menu{
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.greeting-menu-option{
  padding-top: 50px;
  color: white;
  font-size: 22px;
}

#greeting-br{
  height: 20px;
}
